.glassdialog{
  background: linear-gradient(90deg, rgba(131,58,180,0.8) 0%, rgba(253,29,29,0.8) 50%, rgba(252,176,69,0.8) 100%);
  border: 0px solid transparent;
  border-radius: 20px;
  width: 80vh;
}

div{
  display:flex;
  flex-direction:column;
  row-gap:20px;
}

.drkbtn{
  background: rgba(0,0,0,0.8);
}

.drkbtn:hover{
  background: rgba(200,200,200,0.4);
}

.drkbtn:hover svg{
  fill:black;
}
