section {
  row-gap: 0.5em;
  width:100%;
}

h3{
  font-size: 20px;
}

.full {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,129,255,1) 0%, rgba(21,238,0,0.5690651260504201) 55%);
}

.card {
  padding: 2em;
}

