.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 10px;
  background: rgba(255,255,255,0.2) ;
  row-gap: 0.5em;
}

.full {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,129,255,1) 0%, rgba(21,238,0,0.5690651260504201) 55%) !important;
}

.onoff {
  background-color: light-dark(hotpink, black);
  color: light-dark(black, white);
  font-size: 13px;
}

.onoff svg {
  vertical-align: middle;
}

.onoff:hover {
  filter: hue-rotate(180deg);
  outline-color: transparent;
  border: 1px solid transparent;
}

.visible {
  transform-origin: top;
  animation-name: unscroll;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  row-gap: 0.5em;
}

@keyframes unscroll {
  from {transform : scaleY(0); opacity: 0;}
  to {transform: scaleY(1); opacity: 1;}
}

