.loadingplaceholder{
  height:600px;
  margin:auto; 
  align-items: center;
  display: flex;  
  justify-content: center;
}

.primary {
  background: radial-gradient(circle, rgba(255,60,145,1) 0%, rgba(148,187,233,1) 100%);
  color: light-dark(azure, white);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
}
.primary:hover{
  filter: drop-shadow(1px 1px 10px white)  hue-rotate(41deg);
  border: 1px solid transparent;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.secondary {
  background-color: rgba(240, 255, 255, 0.5);
  color: light-dark(azure, white);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.secondary:hover{
  filter: drop-shadow(1px 1px 10px green) hue-rotate(180deg);
  border: 1px solid transparent;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

